.dashboard-menu .dashbord-menu03 li .activeSelect{ color:#2299f1;}
.dashbord-menu02 li.faq.activeSelect a{ background:url(../../img/Front/faq-icn.png) no-repeat left -28px;color:#2299f1;}

.dashbord-menu02 li.help.activeSelect a{ background:url(../../img/Front/help_icn.png) no-repeat  background:url(../../img/Front/help_icn.png) no-repeat  background:url(../../img/Front/help_icn.png) no-repeat  background:url(../../img/Front/help_icn.png) no-repeat left -28px;color:#2299f1;}

.profile-pic span img {
    border-radius: 100%;
    display: block;
    margin: 0 auto;
    max-height: 100px;
    max-width: 100px;
}

.error-message{
	color:tomato;
}
.error{
	color:tomato;
}

.login-form input[type="button"]{
	background: #ec008c none repeat scroll 0 0;
	border: medium none;
	border-radius: 5px;
	color: #fff;
	display: inline;
	font-family: "ProximaNovaA-Regular";
	font-size: 16px;
	margin: 25px 15px 25px 25px;
	padding: 8px 35px;
	width: auto;
}

.error-message{

	color:tomato;

}

.account-setting input, .account-setting textarea, select {
    border: 1px solid #dfe2e9;
    border-radius: 5px;
    color: #333;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 5px 10px;
    resize: none;
    width: 100%;
}


.form_front {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #e8e9ed #e8e9ed;
    border-image: none;
    border-radius: 0 0 5px 5px;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    padding: 0;
}


/* form custom css */
.signuptabcon {
    margin: auto;
    width: 560px;
}
.signinfrm {
	width:100%;
	float:left;
	list-style-type:none;
	display:block;
	padding:20px 0;
}
.signinfrm li {
	width:100% !important;
	float:left;
	list-style-type:none;
	display:block;
	padding:10px 0;
}
.signfild {
	width:100%;
	float:left;
	height:48px;
	border:1px solid #dedddd;
	padding:0 5%;
	font-size:14px;
	color:#383b3e;
	font-weight:400;
}
.signinfrm li a.forgotlink {
	float:left;
	font-size:14px;
	color:#3a6fa5;
	font-weight:400;
	text-decoration:underline !important;
	line-height:44px;
}
.signinfrm li a.forgotlink:hover {
	color:#383b3e;
	text-decoration:none;
}

.submit_btn{
	background: #ec008c none repeat scroll 0 0;
	border: medium none;
	border-radius: 5px;
	color: #fff;
	display: inline;
	font-family: "ProximaNovaA-Regular";
	font-size: 16px;
	margin: 25px 15px 25px 25px;
	padding: 8px 35px;
	width: auto;
}



.signbtnfrm {
	float:right;
	width:150px;
	height:44px;
	text-align:center;
	color:#fff;
	font-size:14px;
	font-weight:400;
	text-transform:uppercase;
	background:#00549f;
	border:0;
	
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	
}
.signbtnfrm:hover {
	background:#315a84;
}
.frmleftbtn a img:hover, .frmrightbtn a img:hover{
	opacity:1;
}
.signinfrm label {
    color: #808fa4;
    font-size: 15px;
    font-weight: normal;
}
.ccv_box{
	width:45%;
	float:left;


}
.user-img-chanel{
  border-radius: 100%;
    /* height: 176px; */
    
    width: 183px;
}
	.banner_button {
		top: 20px;
		color: #fff;
		/* right: 30px; */
		right: 0px;
		position: absolute;
		}


/* form custom css */

.dropdown-menu > li > a:hover{
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
}
label {
    word-wrap: break-word;
}

.edit_visa_card{
	border: 1px solid #e8e9ed;
	border-radius: 100%;
	position: absolute;
	right: 0;
	top: 0;
}
.visa_btn_position{
	position:relative
}

.follow-cls {
    background: #509ee2  none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    display: inline;
    font-family: "ProximaNovaA-Regular";
    font-size: 16px;
    float: left;
    padding: 8px 15px;
    width: auto;
}

.stButton .sharethis {
    background: rgba(0, 0, 0, 0)  no-repeat scroll left top !important;
    color: #868686;
    display: block;
    font-size: 15px !important;
    padding: 0;
    transition: inherit;
}




		.loading_signup {
			display: block;
			height: 100%;
			left: 234px;
			opacity: 0.7;
			position: fixed;
			text-align: center;
			top: 381px;
			width: 100%;
			z-index: 99;
		}
		.loading_login {
				display: block;
				height: 100%;
				left: 612px;
				opacity: 0.7;
				position: fixed;
				text-align: center;
				top: 0;
				width: 100%;
				z-index: 99;
			}

			.loading {
	background-color: #fff;
	display: block;
	height: 100%;
	left: 0;
	opacity: 0.7;
	position: fixed;
	text-align: center;
	top: 131px;
	width: 100%;
	z-index: 99
}

.loading_bank {
		background-color: #fff;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: fixed;
    text-align: center;
    top: 443px;
    width: 100%;
    z-index: 99;
}
.loading_bank_channel {
	background-color: #fff;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: fixed;
    text-align: center;
    top: 425px;
    width: 100%;
    z-index: 99;
}
.loading_bank_channel {
		background-color: #fff;
		display: block;
		height: 100%;
		left: 0;
		opacity: 0.7;
		position: fixed;
		text-align: center;
		top: 425px;
		width: 100%;
		z-index: 99;
}

.loading_channel {
		background-color: #fff;
		display: block;
		height: 100%;
		left: 0;
		opacity: 0.7;
		position: fixed;
		text-align: center;
		top: 207px;
		width: 100%;
		z-index: 99;
}

			
			
#loading-image {
	left: 281px;
	position: absolute;
	right: 96px;
	top: 202px;
	z-index: 100;
}
	#loading_strip_img{
	display: block;
	height: 100%;
	left: 519px;
	opacity: 0.7;
	position: fixed;
	text-align: center;
	top: 50px;
	width: 100%;
	z-index: 99;
	}


.strem_box h3 {
    color: #354052;
    font-family: "ProximaNovaA-Regular";
    font-size: 22px;
    font-weight: 600;
    margin: 8px 12px;
}

.stream-details-box-popup {
    background: #fff none repeat scroll 0 0;
    #border: 1px solid #e6eaee;
    border-radius: 5px;
    float: left;
    margin-top: -36px;
    padding: 0 20px 20px;
    text-align: justify;
    width: 497px;
}

.chat-form-button{
    background: #509ee2 none repeat scroll 0 0;
    border: medium none;
    border-radius: 7px;
    color: #fff;
    float: right;
    font-size: 15px;
    padding: 10px 15px;
    text-transform: uppercase;
    width: 30%;
}

li.follower-green{
    background: rgba(0, 0, 0, 0) url("../../img/Front/heart-icn-green.png") no-repeat scroll 15px 0;
    padding-left: 100px;
}

li.subscriber-green {
    background: rgba(0, 0, 0, 0) url("../../img/Front/video_icn_green.png") no-repeat scroll 15px 0;
    padding-left: 100px;
}
.play_pause_btn{
/*  background:url(../../img/Front/play_pause_btn.png) no-repeat;
 border: none;
height: 64px;
left: 50%;
margin-left: -32px;
margin-top: -47px;
position: absolute;
text-indent: -9999px;
top: 50%;
width: 64px;
z-index: 1; */
}
.strm-video{
position:relative;
}
.play_pause_box{
	left: 0;
position: absolute;
text-align: center;
top: 40%;
width: 100%;
z-index: 1;
}
.play_pause_btn{
/*  background:url(../../img/Front/play_pause_btn.png) no-repeat;
 border: none;
height: 64px;
left: 50%;
margin-left: -32px;
margin-top: -47px;
position: absolute;
text-indent: -9999px;
top: 50%;
width: 64px;
z-index: 1; */
background:#4b96aa;
border:none;
padding:4px 12px;
border-radius:none;
}
/* .strm-video .play_pause_box{
 display:none;
}
.strm-video:hover .play_pause_box{
 display:block;
} */